In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('matches.csv')

In [6]:
df.head(5)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,0,2020-09-21,20:15 (21:15),Premier League,Matchweek 2,Mon,Away,W,3,1,...,Match Report,NaN,13,8,21.1,2,1,1,2024,Manchester City
1,2,2020-09-27,16:30 (17:30),Premier League,Matchweek 3,Sun,Home,L,2,5,...,Match Report,NaN,16,5,19.8,1,0,0,2024,Manchester City
2,4,2020-10-03,17:30 (18:30),Premier League,Matchweek 4,Sat,Away,D,1,1,...,Match Report,NaN,23,1,18.2,1,0,0,2024,Manchester City
3,5,2020-10-17,17:30 (18:30),Premier League,Matchweek 5,Sat,Home,W,1,0,...,Match Report,NaN,13,5,17.7,0,0,0,2024,Manchester City
4,7,2020-10-24,12:30 (13:30),Premier League,Matchweek 6,Sat,Away,D,1,1,...,Match Report,NaN,14,7,20.9,1,0,0,2024,Manchester City

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4788 non-null   int64
 1   date          4788 non-null   object
 2   time          4788 non-null   object
 3   comp          4788 non-null   object
 4   round         4788 non-null   object
 5   day           4788 non-null   object
 6   venue         4788 non-null   object
 7   result        4788 non-null   object
 8   gf            4788 non-null   int64
 9   ga            4788 non-null   int64
 10  opponent      4788 non-null   object
 11  xg            4788 non-null   float64
 12  xga           4788 non-null   float64
 13  poss          4788 non-null   int64
 14  attendance    3155 non-null   float64
 15  captain       4788 non-null   object
 16  formation     4788 non-null   object
 17  referee       4788 non-null   object
 18  match report  4788 non-null   object
 19  notes         0 non-null      float64
 20  sh            4788 non-null   int64
 21  sot           4788 non-null   int64
 22  dist          4786 non-null   float64
 23  fk            4788 non-null   int64
 24  pk            4788 non-null   int64
 25  pkatt         4788 non-null   int64
 26  season        4788 non-null   int64
 27  team          4788 non-null   object
dtypes: float64(5), int64(10), object(13)
memory usage: 1.0+ MB

In [8]:
df.isna().sum()

Unnamed: 0         0
date               0
time               0
comp               0
round              0
day                0
venue              0
result             0
gf                 0
ga                 0
opponent           0
xg                 0
xga                0
poss               0
attendance      1633
captain            0
formation          0
referee            0
match report       0
notes           4788
sh                 0
sot                0
dist               2
fk                 0
pk                 0
pkatt              0
season             0
team               0
dtype: int64

In [9]:
print(f'Missing values: {df.isnull().sum().sum()}')
print(f'duplicated values: {df.duplicated().sum()}')

Missing values: 6423
duplicated values: 0

In [10]:
df.drop(columns=['Unnamed: 0','comp','match report','notes'], inplace=True)

In [11]:
df.head(5)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
0,2020-09-21,20:15 (21:15),Matchweek 2,Mon,Away,W,3,1,Wolves,1.9,...,4-2-3-1,Andre Marriner,13,8,21.1,2,1,1,2024,Manchester City
1,2020-09-27,16:30 (17:30),Matchweek 3,Sun,Home,L,2,5,Leicester City,0.9,...,4-2-3-1,Michael Oliver,16,5,19.8,1,0,0,2024,Manchester City
2,2020-10-03,17:30 (18:30),Matchweek 4,Sat,Away,D,1,1,Leeds United,1.2,...,4-3-3,Mike Dean,23,1,18.2,1,0,0,2024,Manchester City
3,2020-10-17,17:30 (18:30),Matchweek 5,Sat,Home,W,1,0,Arsenal,1.3,...,3-1-4-2,Chris Kavanagh,13,5,17.7,0,0,0,2024,Manchester City
4,2020-10-24,12:30 (13:30),Matchweek 6,Sat,Away,D,1,1,West Ham,1.0,...,4-3-3,Anthony Taylor,14,7,20.9,1,0,0,2024,Manchester City

In [12]:
imputer = SimpleImputer(strategy='median')
df[['attendance','dist']] = imputer.fit_transform(df[['attendance','dist']])

In [13]:
print(f'Missing values: {df.isnull().sum().sum()}')
print(f'duplicated values: {df.duplicated().sum()}')

Missing values: 0
duplicated values: 0

In [14]:
df['formation'].value_counts()

formation
4-2-3-1       1382
4-3-3         1025
4-4-2          583
3-4-3          548
3-5-2          266
4-1-4-1        258
4-4-1-1        141
3-4-1-2        113
5-3-2          107
5-4-1           99
4-5-1           49
4-3-1-2         47
4-1-2-1-2â—†      35
4-2-2-2         29
3-1-4-2         25
4-3-2-1         22
3-2-4-1         21
3-3-3-1         17
3-5-1-1         14
3-4-3â—†           3
4-1-3-2          2
4-2-4-0          2
Name: count, dtype: int64

In [15]:
df['round'] = df['round'].str.replace('Matchweek ', '', regex=False).astype(int)

In [16]:
df['result'] = df['result'].str.replace('W', 'win', regex=False)
df['result'] = df['result'].str.replace('L', 'loss', regex=False)
df['result'] = df['result'].str.replace('D', 'draw', regex=False)

In [17]:
df['formation'] = df['formation'].str.replace('â—†', '', regex=False)

In [18]:
l= df['date'].str.split('-')
df['date_year']=  [x[0] for x in l]
df['date_month']= [x[1] for x in l]
df['date_day']=   [x[2] for x in l]
df.drop(columns=['date'], inplace=True, axis=1)

In [19]:
new_order = ['date_year', 'date_month', 'date_day', 'day', 'time', 'season', 'round', 'venue', 'team', 'opponent',
             'gf', 'ga', 'result', 'xg', 'xga', 'poss', 'sh', 'sot', 'dist', 'fk', 'pk',
             'pkatt', 'attendance', 'captain', 'formation', 'referee']
df = df[new_order]

In [20]:
df.sample(5)

,date_year,date_month,date_day,day,time,season,round,venue,team,opponent,...,sh,sot,dist,fk,pk,pkatt,attendance,captain,formation,referee
3702,2021,01,12,Tue,18:00 (20:00),2021,18,Away,Newcastle United,Sheffield Utd,...,7,3,22.6,2,0,0,36347.0,Federico FernÃ¡ndez,5-4-1,Andy Madley
2504,2023,05,08,Mon,20:00 (22:00),2023,35,Away,Southampton,Nott'ham Forest,...,18,4,14.0,0,1,1,29154.0,James Ward-Prowse,4-2-3-1,Michael Oliver
4107,2019,08,31,Sat,12:30 (13:30),2020,4,Away,Manchester United,Southampton,...,21,8,17.6,0,0,0,30499.0,Ashley Young,4-2-3-1,Mike Dean
4386,2019,12,14,Sat,15:00 (17:00),2020,17,Home,Burnley,Newcastle Utd,...,7,4,12.1,0,0,0,19798.0,Ben Mee,4-4-2,Tim Robinson
1763,2022,12,31,Sat,15:00 (17:00),2023,18,Home,Manchester City,Everton,...,16,3,15.4,0,0,0,53444.0,Kevin De Bruyne,4-3-3,Andy Madley

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date_year   4788 non-null   object
 1   date_month  4788 non-null   object
 2   date_day    4788 non-null   object
 3   day         4788 non-null   object
 4   time        4788 non-null   object
 5   season      4788 non-null   int64
 6   round       4788 non-null   int32
 7   venue       4788 non-null   object
 8   team        4788 non-null   object
 9   opponent    4788 non-null   object
 10  gf          4788 non-null   int64
 11  ga          4788 non-null   int64
 12  result      4788 non-null   object
 13  xg          4788 non-null   float64
 14  xga         4788 non-null   float64
 15  poss        4788 non-null   int64
 16  sh          4788 non-null   int64
 17  sot         4788 non-null   int64
 18  dist        4788 non-null   float64
 19  fk          4788 non-null   int64
 20  pk          4788 non-null   int64
 21  pkatt       4788 non-null   int64
 22  attendance  4788 non-null   float64
 23  captain     4788 non-null   object
 24  formation   4788 non-null   object
 25  referee     4788 non-null   object
dtypes: float64(4), int32(1), int64(9), object(12)
memory usage: 954.0+ KB